# Ignore unnecessary files and folders for .NET and Angular projects

# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/
.vscode/
*.csproj.user
*.dbmdl
*.jfm
*.pdb
*.log
*.cache
*.config
*.ide

# Angular
node_modules/
dist/
tmp/
temp/
*.log
*.tsbuildinfo
.angular/
.idea/
.vscode/
.DS_Store