@if (!loginDisplay) {
<div>
    <p class="welcome">Welcome to this Proof of Concept Angular App</p>
    <p>This sample demonstrates how to configure MSAL Angular to login, logout, protect a route, and acquire an access
        token for a protected resource such as the Microsoft Graph.</p>
    <p>Please sign-in to see your profile information.</p>
</div>
}

@if (loginDisplay) {
    <div class="text-center text-gray-500 col-span-full">
        <p>You are authenticated User!</p>
    </div>
     <hr/>
    <section class="results grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-6">
    @for (patient of patients; track patient.id) {
        
        <div class="p-4">
            <h2 class="listing-heading text-2xl font-bold text-gray-800">{{ patient.name }}</h2>
            <p class="listing-location text-gray-600">ID: {{ patient.id }}</p>
            <p class="listing-location text-gray-600">Age: {{ patient.age }}</p>
            <p class="listing-location text-gray-600">Gender: {{ patient.gender }}</p>
            <p class="listing-location text-gray-600">Address: {{ patient.address.street }}, {{ patient.address.city }}, {{ patient.address.state }}, {{ patient.address.zipCode }}, {{ patient.address.country }}</p>
          </div>

    } @empty {
        Empty list of patients
    }
    </section>
}