<mat-toolbar color="primary">
  <a class="title" href="/">{{ title }}</a>

  <div class="toolbar-spacer"></div>
  <a mat-button [routerLink]="['/']">List Patients</a>
  <a mat-button [routerLink]="['profile']">Profile</a>

  @if (!loginDisplay) {
  <button mat-raised-button (click)="loginRedirect()">Login</button>
  }

  @if (loginDisplay) {
  <button mat-raised-button (click)="logout()">Logout</button>
  }
 

</mat-toolbar>
<div class="container">
  
  @if (!isIframe) {
  <router-outlet></router-outlet>
  }
</div>