<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/c7ddd797-3416-42bb-a48f-2f96c166ac2d/resourcegroups/rg-ehr-poc/providers/Microsoft.ContainerRegistry/registries/acrwebapi</ContainerResourceId>
    <ContainerResourceName>acrwebapi</ContainerResourceName>
    <Subscription>Visual Studio Enterprise Subscription</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>acrwebapi.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>simple-hello-world-container</ContainerName>
    <EnvironmentName>ace-webapi</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://aca-webapi.nicecliff-bd67d66c.germanywestcentral.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/c7ddd797-3416-42bb-a48f-2f96c166ac2d/resourceGroups/rg-ehr-poc/providers/Microsoft.App/containerapps/aca-webapi</ResourceId>
    <ResourceGroup>rg-ehr-poc</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>